In [32]:
import pandas as pd
import seaborn as sns
from sklearn import svm

In [65]:
train = pd.read_csv("../input/train.csv")
test = pd.read_csv("../input/test.csv")

In [3]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
train.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [20]:
X = train.drop(["Survived","Name","Ticket","Cabin"],axis=1)

In [21]:
X = pd.get_dummies(X)

In [22]:
X.columns

Index(['PassengerId', 'Pclass', 'Age', 'SibSp', 'Parch', 'Fare', 'Sex_female',
       'Sex_male', 'Embarked_C', 'Embarked_Q', 'Embarked_S'],
      dtype='object')

In [23]:
X = X.fillna(X.mean())

In [24]:
X.isnull().count()

PassengerId    891
Pclass         891
Age            891
SibSp          891
Parch          891
Fare           891
Sex_female     891
Sex_male       891
Embarked_C     891
Embarked_Q     891
Embarked_S     891
dtype: int64

In [29]:
y = train["Survived"].values

In [33]:
clf = svm.SVC()

In [34]:
 clf.fit(X, y)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [95]:
X_test = test.drop(["Name","Ticket","Cabin"],axis=1)

In [96]:
X_test = pd.get_dummies(X_test)

In [97]:
X_test = X_test.fillna(X.mean())

In [98]:
test_pred = clf.predict(X_test)

In [99]:
test_res = pd.DataFrame(test_pred,columns=["Survived"])

In [100]:
test_res["PassengerId"] = test["PassengerId"]

In [102]:
test_res.to_csv("pred.csv",index=False)

In [101]:
test_res.count()

Survived       418
PassengerId    418
dtype: int64

In [94]:
X_test.mean()

PassengerId    1100.500000
Pclass            2.265550
Age              30.154603
SibSp             0.447368
Parch             0.392344
Fare             35.619000
Sex_female        0.363636
Sex_male          0.636364
Embarked_C        0.244019
Embarked_Q        0.110048
Embarked_S        0.645933
dtype: float64