In [32]:
import pandas as pd
import seaborn as sns
from sklearn import svm

In [53]:
train = pd.read_csv("../input/train.csv")
test = pd.read_csv("../input/test.csv")

In [3]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
train.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [20]:
X = train.drop(["Survived","Name","Ticket","Cabin"],axis=1)

In [21]:
X = pd.get_dummies(X)

In [22]:
X.columns

Index(['PassengerId', 'Pclass', 'Age', 'SibSp', 'Parch', 'Fare', 'Sex_female',
       'Sex_male', 'Embarked_C', 'Embarked_Q', 'Embarked_S'],
      dtype='object')

In [23]:
X = X.fillna(X.mean())

In [24]:
X.isnull().count()

PassengerId    891
Pclass         891
Age            891
SibSp          891
Parch          891
Fare           891
Sex_female     891
Sex_male       891
Embarked_C     891
Embarked_Q     891
Embarked_S     891
dtype: int64

In [29]:
y = train["Survived"].values

In [33]:
clf = svm.SVC()

In [34]:
 clf.fit(X, y)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [42]:
X_test = test.drop(["Name","Ticket","Cabin"],axis=1)

In [43]:
X_test = pd.get_dummies(X_test)

In [45]:
X_test = X.fillna(X.mean())

In [61]:
test_pred = clf.predict(X_test)

In [62]:
test_res = pd.DataFrame(test,columns=["Survived"])

In [59]:
test_res["PassengerId"] = test["PassengerId"]

In [57]:
test_res.to_csv("pred.csv",index=False)

<bound method NDFrame.sample of      Survived  PassengerId
0         NaN          892
1         NaN          893
2         NaN          894
3         NaN          895
4         NaN          896
5         NaN          897
6         NaN          898
7         NaN          899
8         NaN          900
9         NaN          901
10        NaN          902
11        NaN          903
12        NaN          904
13        NaN          905
14        NaN          906
15        NaN          907
16        NaN          908
17        NaN          909
18        NaN          910
19        NaN          911
20        NaN          912
21        NaN          913
22        NaN          914
23        NaN          915
24        NaN          916
25        NaN          917
26        NaN          918
27        NaN          919
28        NaN          920
29        NaN          921
..        ...          ...
388       NaN         1280
389       NaN         1281
390       NaN         1282
391       NaN         1283
392       NaN         1284
393       NaN         1285
394       NaN         1286
395       NaN         1287
396       NaN         1288
397       NaN         1289
398       NaN         1290
399       NaN         1291
400       NaN         1292
401       NaN         1293
402       NaN         1294
403       NaN         1295
404       NaN         1296
405       NaN         1297
406       NaN         1298
407       NaN         1299
408       NaN         1300
409       NaN         1301
410       NaN         1302
411       NaN         1303
412       NaN         1304
413       NaN         1305
414       NaN         1306
415       NaN         1307
416       NaN         1308
417       NaN         1309

[418 rows x 2 columns]>